{% extends "reportes/base.html" %}

{% block content %}
    {% for calibracion in calibraciones %}
        <div class="reporte">
            <div class="date">
                {{ calibracion.fecha }}
            </div>
            <h1><a href="{% url "reportes.views.calibration_detail" pk=calibracion.pk %}">{{ calibracion.cliente }}</a></h1>
            <h3 class="nserie">{{ calibracion.numeroSerie }}</h3>
            <p class="observaciones">{{ calibracion.observaciones|linebreaks }}</p>
        </div>
        <hr>
    {% endfor %}
{% endblock content %}

