{% extends "reportes/base.html" %}

{% block content %}
{% if user.is_authenticated %}
    <div class="reporte">
        
            <div class="date"><i class="fa fa-calendar fa-lg"></i> 
                {{ calibracion.fecha }}
            </div>
        
        <h2><i class="fa fa-users fa-lg"></i> {{ calibracion.cliente }}</h2>
        <hr>
        <p><span><i class="fa fa-pencil-square-o fa-lg"></i> Observaciones de {{ calibracion.numeroSerie }}:</span>{{ calibracion.observaciones|linebreaks }}</p>
        <hr>
        <p><span><i class="fa fa-user fa-lg"></i> Tecnico Responsable: </span>{{ calibracion.nombreTecnico }}</p>
        <hr>
        <p><span><i class="fa fa-user fa-lg"></i> Encargado de area: </span>{{ calibracion.nombreEncargado }}</p>
        <hr>
        <p><span><i class="fa fa-credit-card fa-lg"></i> Cotizacion: </span>${{ calibracion.costo }}</p>
    </div>
{% endif %}
{% endblock %}